<!--
<div class="btn-group text-center">
    <button mat-raised-button type="button" class="btn btn-primary " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>

    <button mat-raised-button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" routerLink="pOrder" >Place Order</button></li>
        <li><button class="dropdown-item" type="button">Update Order</button></li>
        <li>
        <button type="button " class="dropdown-item">Track order</button>
        </li>
        <li><button class="dropdown-item" type="button">Order Details</button></li>
        <li><button class="dropdown-item" type="button">Distributor Details</button></li>
       
      <li><div class="dropdown-divider"></div></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

<div class="container w-50">
<mat-card  class="example-card">
	<mat-card-header>
    <mat-icon>more_vert</mat-icon>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title>MR. X</mat-card-title>
		<mat-card-subtitle>Dog Breed</mat-card-subtitle>
	</mat-card-header>
</mat-card>
</div>
-->

<div class="jumbotron text-center" >
  <h1 style="font-size: xx-large;font-weight: bold;">DRINK AND DELIGHT</h1>
  <br>
  <p style="font-size:x-large;">Manage Your Inventory With Delight</p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Products</h3>
      <p>Taking and managing product orders have never been easier</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Raw Material</h3>
      <p>Managing raw material order is so easy like never before </p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Stocks</h3>        
      <p>Managing product and raw material stocks have never been much easier</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

