<div class="container w-50 p-3">
    <mat-card  class="example-card">
    
            <h1 class=" h4 mb-4 block-title text-weight-bold text-uppercase text-center"> <mat-card-title>Track Raw Material</mat-card-title>
            </h1>
        
        <mat-card-content>
         <form  >
          <div class="form-group form-row">
            <label for="distSelect" class="st-label col-md-3 col-form-label">Supplier:</label>
                <select class="form-control col-md-5" name="supSelect" id="supSelect"
                [(ngModel)]= "selectedId" #sId="ngModel"  >
                  <option value="" disabled>Select Supplier</option>
                  <option [value]="item.supplierId" *ngFor="let item of supplierIds">{{item.supplierId}}-{{item.supplierName}}</option>
                </select>  
         </div>
             <div class="form-group form-row">
                <label for="status" class="st-label col-md-3 col-form-label">Status</label>
                <select class="form-control col-md-5" id="status" [(ngModel)]="status" name="status" >
                  <option value="" disabled>Select Status</option>
                  <option *ngFor="let item of statuses" [value]="item" >{{item}}</option>
                </select>  
              </div>
              <div class=" form-group form-row">     
                <label class="st-label col-md-3 col-form-label" for="SDate" > Start Date</label>
                 <input type = "date"  class="form-control col-md-5" id="SDate" placeholder = "Start Date" name="SDate" [(ngModel)]="startDate"  >    
              </div>
              <div class=" form-group form-row">     
                <label class="st-label col-md-3 col-form-label" for="SDate" > End Date</label>
                 <input type = "date"  class="form-control col-md-5" id="EDate" placeholder = "End Date" name="EDate" [(ngModel)]="endDate" >    
              </div>
             <div class="wrapper">  
                <button mat-raised-button class="btn btn-primary col-md-3" (click)="onSubmit()">Search</button>
            </div>
           
         </form> 
        </mat-card-content>
    </mat-card>
</div>
<div class="row">
  <div class="col-md-6">
      <table  style="border: 1px solid rgba(44, 42, 167, 0.178); text-align: center; font-size: 20px; padding: 10px; width: 100%;">
          <tr >
              <th>Order Id</th>
              <th>Supplier Id</th>
              <th>Delivery Status</th>
              <th>Date of Delivery</th>
          </tr>
          <tr *ngFor = "let order of orderDetails">
              <td>{{order.orderId}}</td>
              <td>{{order.supplierId}}</td>
              <td>{{order.deliveryStatus}}</td>
              <td>{{order.delDate}}</td>
          </tr>
      </table>
  </div>
</div>


