<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="50">
        <form fxLayoutAlign="stretch " fxLayout="column" [formGroup]="passValidations" (ngSubmit)="clickReset()">
            <h1>FORGOT PASSWORD?</h1>
            <P>
                <i>Don't Worry, We got you covered...</i> </P>

            <mat-form-field>
                <input autocomplete="off" matInput placeholder=" Email " type="email" formControlName="email" value="Email">
                <mat-error *ngIf="!email.valid">{{getEmailError()}}</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" [disabled]="!passValidations.valid" type="submit">Reset Password</button><br>
        </form>
    </mat-card>
</div>